<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<style>

body{
    text-align:center;
    background-color: #bdffe0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a {
    margin-top: 30%;
    padding: 0.5% 0.5% 0.5% 0.5%;
    text-decoration: none;
    background-color:#5cd19a;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;

}

.button {
    margin-top: 1%;

    text-decoration: none;
    padding: 1% 0% 1% 0%;

    width: 10%;

    background-color:#5cd19a;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

footer{
    clear: both;
    position: relative;
    text-align: right;
}
fieldset{
    border-color: #5cd19a;
}

</style>

    {% block body %}
    {% endblock %}

</html>