{% extends 'base.html' %}

    {% block title %}
        Change Password
    {% endblock %}

    {% block body %}
        <main>
            <fieldset style="margin-left: 30%; margin-right: 30%;">
                <legend>
                    change password
                </legend>
                <form method="post">
                    <div>
                        <label for="old-pass">old password:
                            <input id="old-pass" name="old-pass" type="password">
                        </label>
                    </div>

                    <div>
                        <label for="new-pass">new password:
                            <input id="new-pass" name="new-pass" type="password">
                        </label>
                    </div>
                    <br>
                    <div>
                        <input class="button" type="submit" value="change">
                    </div>
                </form>


            </fieldset>

        </main>


        <footer>
            <div>
                <a href="/open-door.html">&longleftarrow; Back</a>
            </div>
            <div>
                <a href="/">Log Out</a>
            </div>
        </footer>
    </body>

    {% endblock %}