{% extends 'base.html' %}
    {% block title %}
    Log In
    {% endblock %}

    {% block body %}
    <body>
        <header>
            <h1> Inserire il codice Segreto per poter utilizzare l'app </h1>
        </header>

        <main>
            <div>

                <form method="post">
                    <label for="pass"> password:
                        <input id="pass" type="password" name="pass">
                    </label>
                    <br>
                    <input class="button" id="submit" type="submit" value="log in">
                </form>

            </div>
        </main>
    </body>
    {% endblock %}