{% extends 'base.html' %}

    {% block title %}
        Unlock Page
    {% endblock %}

    {% block body %}
    <body>
            <header>

            </header>

            <main>
                <div>
                <form method="post">
                    <input class="button" id="down-button" type="submit" value="&#x1F513;" style="font-size: 250%;">
                </form>
                </div>
                <br>
                <br>

                <div>
                    <a href="/change-password.html"> cambia password </a>
                </div>

            </main>

    <footer>

    <div>
        <a href="/">Log Out</a>
    </div>

    </footer>

    </body>
    {% endblock %}